body { 
    background-color: rgb(216, 216, 216);
    }

.barre {
    position : fixed ;
    height: 95px;
    top : 0 ;
    left : 0 ;
    width: 100% ;
    z-index: 99 ;
    background-color : rgb(29, 28, 28);
}

.titre {
    color: orange;
    font-size: 300%;
    text-align: center;
    margin-top: 1.3%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.mot {
    position : fixed ;
    top : 50% ;
    font-size: 50px;
    letter-spacing: 4px;
}

.essais {
    position : fixed ;
    top : 20% ;
    left : 50% ;

}


.partieGauche  {
    position: fixed;
    left: 0;
    width: 50%;
    height: 1200px;
    max-height: auto;
    background-color:orange;
    z-index: 1;
    }

.partieDroite {
    position: fixed;
    right: 0;
    width: 50%;
    height: 1200px;
    max-height: auto;
    background-color:rgb(215, 217, 215);
    }

.lancement{
    z-index: 99;
}