body { 
    background-color: rgb(216, 216, 216);
    height: 90vh;
    }

.barre {
    position : fixed ;
    height: 95px;
    top : 0 ;
    left : 0 ;
    width: 100% ;
    z-index: 99 ;
    background-color : rgb(29, 28, 28);
}

.titre {
    color: orange;
    font-size: 300%;
    text-align: center;
    margin-top: 1.3%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.text-victoire {
    font-size: 50px;
    text-align: center;
    margin-top: 20%;
}

.text-defaite {
    font-size: 50px;
    text-align: center;
    margin-top: 20%;
}

.lancement{
z-index: 99;
}

.texteMot {
    text-align: center;
    margin-top: 8%;
    color: black;
}

.inputMot {
    text-align: center;
}

p {
    text-align: center;
    font-size: 50px;
    letter-spacing: 4px;
}

.mot{
    text-align: center;
}

.indications{
    text-align: center;
    font-size: 25px;
}

.figure-contenant{
    stroke: black;
    stroke-width: 4px;
    stroke-linecap: round;
    fill: transparent;
}

.dessinPendu{
    text-align: center;
}