<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>{{.Name}}</h1>
<ul>
    <h4>Liste des voitures</h4>
    {{range .Cars}}
        <li>
            <div>{{.Brand}} {{.Model}}</div>
            <div>Puissance : {{.Power}}CV</div>
            {{if .Available}}
                <a class="available" href="#">Disponible</a></li>
            {{else}}
                <a class="not-available" href="#">Indisponible</a></li>
            {{end}}
        </li>
    {{end}}
</ul>
</body>
</html>